.tab{
color: white;
display: none;
padding: 30px 20px;
height: 100%;
text-align: center;
/* font-size: 20px; */
/* color: chocolate; */
/* display: none; */
/* padding: 20px; */

}

.headingRow {
  display: flex;
  /* justify-content: space-around; */
  align-items: flex-start;

  padding: 50px;
  background-color: rgb(14, 158, 224);
  /* sticky element rules */
  /* position: -webkit-sticky; */
  position: sticky;
  /* position: fixed; */

  top: 0;
}

/* .stick{
  position: fixed;
  top: 0;
  width: 100%;
} */

/* .headingCol {
  float: left;
  width: 50%;
  padding: 10px;
  height: 130px;

  position: -webkit-sticky;
  position: sticky;
  top: 0;
} */

.button{
  background-color: rgb(14, 158, 224);
  color: rgb(192, 191, 191);
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 50%;
}

#Home{background-color: rgb(14, 158, 224); }
#Achievements{background-color:rgb(14, 158, 224);}
#IQRA {
    top: 10%;
    font-size: 70px; 
    color: white;
    text-align: right;
    /* background-color:rgb(68, 187, 241); */
}
#HomePage{
    background-color: rgb(251, 251, 255);
    border: none;
    outline: none;
}

#TabGrid{
    display: flex;
    flex-direction: column;
}

.button12 {
    background-color:transparent; /* Green */
    /* border: none; */
    color: white;
    padding: 12px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }

  .parFont{
    font : 20%;
    padding: 10px;
  }

  .stickSignButton{
    /* position: -webkit-sticky; Safari */
    position: sticky;
    top: 0;
  }